<div *ngIf='allowShow'>

	<form class="form-horizontal" [formGroup]='myForm'
		(ngSubmit)="saveConfig()">
		<app-flex-form-input-placeholder
			*ngFor='let elt of inputs'
			[parentForm]='myForm'
			[value]='elt'
			[listener]='listener'
			>
		</app-flex-form-input-placeholder>
		<div *ngIf='!myForm.valid' class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="alert alert-danger">
					<div *ngFor='let errDesc of listFormErrors()'>
						<strong>{{errDesc.fieldName}}:</strong> {{errDesc.errDesc}}
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" [disabled]="myForm.pristine || !myForm.valid"
				class="btn btn-success">Submit</button>
			</div>
		</div>
	</form>

</div>
